<!-- <section class="user-section"> -->
<%= form_tag sessions_path do %>

  <% if @message %>
    <div id="error_explanation">
      <h2><%= @message %></h2>
    </div>
  <% end %>

  <%= label_tag :email %>
  
  <%= text_field_tag :email, params[:email] %>
  <br>

  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>

  <%= submit_tag "Login", class: "button" %>
<% end %>
<!-- </section> -->