<section class="user-section">
  <h2>Invite New Teacher</h2>

  <%= render "teachers/form" %>

  <h2>Import Students</h2>

  <%= form_tag import_students_path, multipart: true do %>
    <%= file_field_tag :file%>
    <%= submit_tag "Import CSV", class: "button" %>
  <% end %>
  <br>

  <h2>Delete Multiple Students</h2>

  <%= render partial: "students/delete", locals: { students: Student.all } %>
  <br>
  <h2>Add New Student</h2>

  <%= render "students/form" %>

</section>
