<td><%= link_to student.full_name, student_path(student) %></td>
<td><%= student.grade %></td>
<td><%= student.gpa %></td>
<td><%= student.disciplinary_strikes %></td>
<td><%= student.teacher ? student.teacher.name : "Unassigned" %></td>
